{% from 'resume/partials/section.html' import render_section %}
<!doctype html>
<html lang="{{ resume._language }}">
<head>
  <meta charset="utf-8">
  <style>
    {% include 'resume/style-base.css' %}
  </style>
</head>
<body>
  <main class="resume-page classic-template">
    {% if 'basics' not in (resume.layout.hidden_sections or []) %}
      {% include 'resume/partials/basics.html' %}
    {% endif %}
    {% for section in resume._sections %}
      {{ render_section(section, resume) }}
    {% endfor %}
  </main>
</body>
</html>
